dj-database-url==0.4.2
Django==1.11.7
django-tastypie==0.14.0
postgres==2.2.1
psycopg2==2.7.3.2
python-dateutil==2.6.1
python-decouple==3.1
python-mimeparse==1.6.0
pytz==2017.3
six==1.11.0
whitenoise==3.3.1
